<footer class="footer">
    <div class="wrapper footer-content">
        <div>
            <h1 class="bottom__text bottom__text__h1">Адреса</h1>
            <p class="bottom__text"> м. Київ, вул. Дніпровська Набережна 25А, оф. 16</p>
        </div>
        <div>
            <h1 class="bottom__text bottom__text__h1">Телефони</h1>
            <p class="bottom__text">фінансовий відділ: 067-337-04-48</p>
            <p class="bottom__text">для нових клієнтів: 067-300-62-62</p>
        </div>
        <div>
            <h1 class="bottom__text bottom__text__h1">Чергова частина</h1>
            <p class="bottom__text">цілодобово: 067-341-88-77</p>
        </div>
        <div>
            <h1 class="bottom__text bottom__text__h1">Email</h1>
            <p class="bottom__text">info@baryer.kiev.ua</p>
        </div>

    </div>
</footer>
<div class="wrapper__bottom">
    <div class="wrapper bottom">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="14">
            <rect width="26" height="14" fill="#005BBB"/>
            <rect width="26" height="7" y="7" fill="#FFD500"/>
        </svg>
        <p class="footer__text">тому що нам довіряють</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="14">
            <rect width="26" height="14" fill="#005BBB"/>
            <rect width="26" height="7" y="7" fill="#FFD500"/>
        </svg>
    </div>
    <div class="wrapper footer_copy_right">
        <span class="footer_copy_right-text footer_copy_right-text-mr">©2023</span>
        <span class="footer_copy_right-text footer_copy_right-text-mr">Бар'єр. Безпека бізнесу</span>
        <span class="footer_copy_right-text">Всі права захищені</span>
    </div>
</div>