<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap"
            rel="stylesheet"
    />
    <link rel="shortcut icon" href="img/Logo%20BARYER%20small.svg" type="image/x-icon">
    <title>@@title</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>