<div id="modal" class="modal">
  <div class="modal__content">
    <svg
      id="close_icon"
      class="close_icon"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="24" height="24" fill="#F8F8F8" />
      <g clip-path="url(#clip0_18_5089)">
        <path
          d="M15.8887 7.88867L8.1105 15.6668"
          stroke="#B4B4B4"
          stroke-width="1.5"
        />
        <path
          d="M15.8887 15.667L8.1105 7.88882"
          stroke="#B4B4B4"
          stroke-width="1.5"
        />
      </g>
      <defs>
        <clipPath id="clip0_18_5089">
          <rect
            width="11"
            height="11"
            fill="white"
            transform="translate(12 4) rotate(45)"
          />
        </clipPath>
      </defs>
    </svg>
    <div class="modal_block_title">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
           viewBox="0 0 1419.64 1436.56">
                       <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                         <path fill="#393185" d="M712.44 1436.56l-712.44 -1436.56 1419.64 0 -92.28 201.21 -1028.88 0 88.68 189.74 848.28 0 -523 1045.61 0 0zm-1.43 -395.94l-241.12 -467.86 482.27 0 -241.15 467.86z"/>
               </g>
              </svg>
      <p class="title_text_modal">Замовити охорону</p>
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
             viewBox="0 0 1419.64 1436.56">
                       <g id="Слой_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                         <path fill="#393185" d="M712.44 1436.56l-712.44 -1436.56 1419.64 0 -92.28 201.21 -1028.88 0 88.68 189.74 848.28 0 -523 1045.61 0 0zm-1.43 -395.94l-241.12 -467.86 482.27 0 -241.15 467.86z"/>
               </g>
              </svg>
    </div>


    <form>
      <input
        class="input-form"
        type="text"
        name="userName"
        placeholder="Ім'я"
      />
      <input
        class="input-form"
        type="text"
        name="userName"
        placeholder="+380 __-__-__-___"
      />
      <button id="closedModal" class="btn_modal" type="submit">
        Залишити замовлення
      </button>
    </form>
  </div>
</div>
