.invisible{
  display: none!important;
}
.faq_main_block{
  background: #f8f8f8;
  padding-bottom: 20px;
}

@media (min-width: 320px) {
    .wrapper {
    margin: 0 auto;
    max-width: 290px;
    width: 100%;
  }
  .title_faq{
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: #434343;;
    margin-top: 120px;
    margin-bottom: 45px;
    display: none;
  }
  .title_faq_span{
    font-style: italic;
    color: #434343;;
  }
  .faq_block{
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.07);
    padding: 10px;
    margin-bottom: 15px;
  }
  .qst_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hover_style{
    cursor: pointer;
  }
  .btn-svg{
    stroke: #434242;
  }
  .btn_closed{
    z-index: 999;
    cursor: pointer;
  }
  .btn_open{
    z-index: 0;
  }
  .btn_closed:hover{
    background-color: #434343;;
  }
  .btn_closed:hover .btn-svg{
    stroke: #FFFFFF;
  }
  .hover_style:hover{
    background: #F9FFFA;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.07);
  }
  .hover_style:hover .qst_text{
    color: #434343;;
  }
  .hover_style:hover .btn_faq{
    background-color: #434343;;
  }
  .hover_style:hover .btn_faq .btn-svg{
    stroke: white;
  }
  .qst_text{
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: #434343;;
    padding: 15px 0 15px;
  }
  .btn_faq{
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box {
    animation: 3s show;
  }

    @keyframes show {
      from { opacity: 0; }
      to { opacity: 1; }
    }
  .ans_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 15px;
  }
  .example{
    background-color: #FFFFFF;
  }
}
@media (min-width: 410px) {
  .wrapper {
    max-width: 370px;
  }
}
@media (min-width: 510px) {
  .wrapper {
    max-width: 470px;
  }
}
@media (min-width: 610px) {
  .wrapper {
    max-width: 570px;
  }
}
@media (min-width: 710px) {
  .wrapper {
    max-width: 670px;
  }
  .gallery_menu_block_img{
    max-width: 130px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
  .wrapper {
    max-width: 770px;
  }

}
@media (min-width: 910px) {
  .wrapper {
    max-width: 870px;
  }
  .title_faq {
    display: block;
  }
    .ans_text{
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 952px;
  }
  .faq_block{
    padding: 25px;
  }
  .qst_block{
  }
  .qst_text{
    font-size: 18px;
    line-height: 125%;
    padding: 0;
  }
  .ans{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .ans_text{
    padding: 0;
    font-size: 18px;
  }
  .example{
    padding: 15px;
  }

}
@media (min-width: 1010px) {
  .wrapper {
    max-width: 970px;
  }
}
@media (min-width: 1110px) {
  .wrapper {
    max-width: 1070px;
  }
}
@media screen and (min-width: 1210px) {
  .wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }
  .header__content {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

