.wrapper__bottom{
  background: #7C7C7C;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottom__text{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
}
.bottom__text__h1{
  font-weight: bold;
}
.footer{
  background: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_copy_right{
  padding-bottom: 10px;
  display: flex;
  justify-content: end;
}
.footer_copy_right-text{
  font-size: 10px;
  color:  #ffffff;
}
.footer_copy_right-text-mr{
  margin-right: 5px;
}
.footer__text{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
