.header__wrapper{
  background: #7C7C7C;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;

}
.header__logo{
  position: absolute;
  top: 10px;
  left: 0;
  width: 114px;
  height: 110px;
  //top: 0;
}
.header__menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__menu__text{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 1s;
}
.header__menu__text-scroll{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #7C7C7C;
  transition: 1s;
}
.header__menu__text-margin:hover{
  text-shadow: 2px 4px 5px darkgray;
}
.header__menu__text-margin{
  margin-right: 40px;
}
.drop-down-menu{
  display: none;
  position: absolute;
  z-index: 1;
}
.drop-down-menu__li{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background: #7C7C7C;
  cursor: pointer;
  border: 1px #ffffff solid;
}
.drop-down-menu__li-scroll{
  background: #ffffff;
  padding: 10px;
}
.drop-down-menu__li:hover{
  background: #5B6469;
}
.drop-down-menu__li-scroll:hover{
  text-shadow: 2px 4px 5px darkgray;
  background: #ffffff;
}
.drop-down-menu__li__text{
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
.drop-down-menu__li__text-scroll{
  color: #7C7C7C;
}

.drop-down-menu__li__logo{
  margin-right: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown:hover .drop-down-menu
{
  display: block;
  //transform: translateY(-20%);
  //animation: ani 1s forwards;
}
//
//@keyframes ani {
//  0% {transform: translateY(-20%);}
//  100% {transform: translateX(0);}
//}