.main_background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-top: 30px;
}
.start_wrapper{
  background-image: url("/img/302532561_612019767077967_4595541923172985217_n.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.start_tel{
  font-size: 50px;
  color: #ffffff;
  top: 80%;
  position: absolute;
  left: 70%;
  //text-shadow: 4px 3px 0 #7C7C7C;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
.start_btn{
  background-color: #ffffff;
  color: #7C7C7C;
  padding: 14px 20px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  box-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  cursor: pointer;
  font-weight: bold;
  transition: 1s;

}
.start_btn:hover{
  color: #ffffff;
  background-color: #7C7C7C;
}
.start_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start_text{
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  //text-shadow: 4px 3px 0 #7C7C7C;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  margin-bottom: 30px;
}
.start_img{
  width: 100%;
}
.main_text_content{
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.main_fiz{
  background-image: url("/img/15324331595514-750x309.jpeg");
}
.main_pult{
  background-image: url("/img/screenshot_1.png");
}
.main_video{
  background-image: url("/img/best-cctv-app-for-android-2021.png");
}
.main_tzi{
  background-image: url("/img/shutterstock_1381725578_1200.jpg");
}
.main_commax{
  background-image: url("/img/ip-mnogokvartdomofon.png");
}
.main_bodyguard{
  background-image: url("/img/lichnaya-okhrana-kogda-nuzhna.jpg");
}
.main_dogs{
  background-image: url("/img/dog600.jpg");
}
.main_tir{
  background-image: url("/img/tir.jpg");
}
.main_scud{
  background-image: url("/img/sistemy-kontrolya-dostupa.jpg");
}
.main_net{
  background-image: url("/img/networking.jpg");
}
.main_cart_text {
  font-size: 30px;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.main_carts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_cart_link{
  text-decoration: none;
}
.main_cart_link:hover .main_cart_text{
  font-size: 34px;
}
