.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal-active{
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}
.modal__content {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: white;
  box-sizing: border-box;
  width:590px;
  padding: 50px;
  position: relative;
}
.close_icon{
  position: absolute;
  top: 24px;
  left: 546px;
  cursor: pointer;
}
.input-form {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  margin-bottom: 15px;
  font-size: 18px;
  color: #C0C0C0;
  outline: none;
  padding: 14px;
}
.textarea-fixed {
  resize: none;
}
.input-form:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #434343;
}

.main_hidden {
  overflow: hidden;
}
.btn_modal {
  font-family: "Lato", sans-serif;
  background: #7C7C7C;
  padding: 16px 20px;
  color:  #ffffff;
  font-size: 14px;
  line-height: 130%;
  border: none;
  cursor: pointer;
}
.btn_modal:hover{
  background: #5B6469;
  color: #ffffff;
}
.title_text_modal{
  font-size: 22px;
  text-transform: uppercase;
  color: #434343;
  font-weight: bold;
  margin-bottom: 15px;
}
.modal_block_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}