.wrapper__nav{
  margin-top: 80px;
  margin-bottom: 10px;
}
.line{
  margin-bottom: 10px;
  margin-top: 10px;
  height: 3px;
  width: 100%;
  background-color: #7C7C7C;
}
.nav_link{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #7C7C7C;
  text-decoration: none;
  margin-right: 10px;
}
.nav_action{
  font-family: "Lato", sans-serif;
  color: #434343;
  font-size: 14px;
  font-weight: bold;
}