.wrapper__main{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.main__map{
  margin-right: 30px;
}
.main__text{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
}
.main__text__h1{
  font-weight: bold;
}
.main__text__h1-mt{
  margin-top: 25px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
}
.input-title{
  color: #7C7C7C;
}
.input-form {
  font-family: "Lato", sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  background: #f8f8f8;
  border: 1px solid #f4f4f4;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}
.input-form:focus {
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.07);
  color: #434343;
}
.btn {
  font-family: "Lato", sans-serif;
  background: #7C7C7C;
  padding: 16px 20px;
  color:  #ffffff;
  font-size: 14px;
  line-height: 130%;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
}
.btn:hover{
  background: #5B6469;
  color: #ffffff;

}