.fiz_cart_image{
  width: 30%;
}
.fiz_cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fiz_cart_text_block-span{
  font-size: 22px;
  text-transform: uppercase;
  color: #434343;
  font-weight: bold;
}
.fiz_cart_text_block{
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.fiz_cart_text_block-ml{
  margin-left: 40px;
}
.fiz_cart_text_block-mr{
  margin-right: 40px;
}
.fiz_cart_text_block-svg{
  margin-right: 14px;
  margin-left: 14px;
}