@import "reset";
@import "header";
@import "footer";
@import "modal";
@import "stylesContacts";
@import "stylesPay";
@import "nav";
@import "main";
@import "styleFiz";
@import "faq";

.main {
  font-family: "Lato", sans-serif;
  background: #ffffff;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
.title__text{
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #434343;
  font-weight: bold;
}
.main_pb{
  padding-bottom: 30px;
}